<ion-view title="Discussion" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="card" ng-repeat="article in articles">
  <div class="item item-divider">
    {{article.title}}
  </div>
  <div class="item">
    {{article.description}}
      
  </div>
            <div class="item">
               <a id="discussion-button5"
        class="button button-positive" ui-sref="menu.details({id: article.id})" >Read more</a>
            </div>
  
</div>
    </ion-content>
</ion-view>