<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="home-heading2" style="color:#000000;text-align:center;" class=" ">Search Papers</h2>
        <ion-list id="home-list1" class=" ">
            <ion-item id="home-list-item5" ui-sref="menu.paper"  class="button button-full">Find question paper</ion-item>
            
        </ion-list>
        <h2 id="home-heading3" style="color:#000000;text-align:center;" class=" ">Latest Discussion Post</h2>
       
<div class="card" ng-repeat="article in articles">
  <div class="item item-divider">
    {{article.title}}
  </div>
  <div class="item item-text-wrap">
    {{article.description}}
  </div>
  
</div>
    </ion-content>
</ion-view>