<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form4" class="list " ng-submit="login()" cg-busy="loginPromise">
            {{loginRespond}}
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="credentials.email">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="credentials.password">
                </label>
            </ion-list>
            <button id="login-button7" class=" button button-stable  button-block " type="submit">Log in</button>
            
        </form>
    </ion-content>
</ion-view>